.body_cadastrar_produto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #a8b9c0;
    background-color: #283b40;
}

.cadastrar_produto_paragraph{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 170px;
    margin: 50px;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255, 0.9);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0,5px;
}

.cadastrar_produto_1{
    display: flex;
    flex-direction: space-around;
    gap: 5px 5px;
    margin: 5px;
    padding: 8px;
}

.cadastrar_produto_2{
    padding: 10px;
}

.cadastrar_produto_3{
    padding: 10px;
    background-color: red;
    color: white;

}