.lista__favoritos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 80%;
    max-width: 1000px;
    margin: 3rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.28);
}

.lista__favoritos img{
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.lista__favoritos__photo{
    box-shadow: 0px 2px 10px rgba(0,0,0,0.28);
}


.lista__favoritos__detalhes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 450px;
}

.lista__nome{
    font-size: 1.8rem;
    margin-bottom: 7px;
    color: #899AA1;
}

.lista__descricao{
    font-size: 20px;
    margin-bottom: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #899AA1;
    padding: 0% 1% 0% 1%;
}

.lista__valor{
    font-size: 25px;
    font-weight: bold;
    color: #899AA1;
    margin-bottom: 8px;
}

.lista__dividido{
    font-size: 1rem;
    color: #666;
    margin-bottom: 7px;
}

.buton__favoritos{
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #28a745;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    margin: 5px 0px;
}

.buton__favoritos:hover{
    background: #218838;
    transform: translateY(-2px);
}

.buton__favoritos__excluir{
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #c0382c;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;

}

.buton__favoritos__excluir:hover{
    background: hsl(13, 69%, 23%);
    transform: translateY(-2px);
}

.favoritos__botoes__secundarios{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 130px;
    gap: 20px;
    background: #aeeb90;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.28);
    padding: 20px 5px;

}

.favoritos__botoes__secundarios_1{
    width: 300px;
    padding: 20px 10px;
    border: none;
    border-radius: 8px;
    background:  #899AA1;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.favoritos__botoes__secundarios_1:hover{
    background: hsl(198, 71%, 65%);
    transform: translateY(-2px);

}

.favoritos__botoes__secundarios_2{
    background:  #218838;
    width: 300px;
    padding: 20px 10px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer; 
}

.favoritos__botoes__secundarios_2:hover{
    background: hsl(134, 76%, 52%);
    transform: translateY(-2px);
}

/* Responsivo */
@media (max-width: 768px){

    .lista__favoritos{
        flex-direction: column;
        text-align: center;
    }

    .lista__favoritos img{
        width: 220px;
    }

    .lista__favoritos__detalhes{
        align-items: center;
    }

    .buton__favoritos{
        width: 100%;
    }
}