.rodape{
    background-color: #fAD889

}

.rodape__grid{
    display: grid;
    grid-template-columns: 33% 33% 0% 0%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0vh 0vh 0vh 45vh;
    padding: 0 0 0 5%;
}

.rodape__paragraph{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    font-weight: 500;
    font-size: 20px ;
}

.rodape__formadepagamento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0% 0% 16% 0%;
    padding: 4%;
}

.rodape__elo{
    max-height:5vh; 
    margin: 0% -20% 0% -12%;
}

.rodape__visa{
    max-height: 6vh;
    margin: 0% 0% 0% 20%;  
}

.rodape__pix{
    max-height: 6vh;
    margin: 0% 0% 0% 0%;
}

.rodape__mastecard{
    max-height: 7vh;
    margin: 0% 50% 0% 0%;    
}

.rodape__redesociais{
    margin: 5% 0% 20% 5%;
    filter: brightness(0) saturate(100);
}

.rodape__logoInsta{
    margin: 0 4vh;
}

.rodape__logowhats{
    transform: scale(1.4);
}

.rodape__paragraph__hf{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    font-weight: 300;
    font-size: 15px;
    flex-direction: center;
    justify-content:center;
    display: flex;
}

@media (max-width: 600px) {
    .rodape__grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
    margin: 0;
  }

  .rodape__paragraph {
    font-size: 16px;
    margin: 0 5% 0 0%;
  }

  .rodape__redesociais{
    margin: 3% 14% 0 5%;

  }

  .rodape__formadepagamento img {
    max-height: 30px;
    margin: 0% 5% 0 -2%;
    padding: 0 2% 0 0%;
  }

  .rodape__paragraph__hf {
    font-size: 12px;
    margin: 0 0 0 4%;
  }

}

@media (max-width: 430px){
    .rodape__grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
    margin: 0;
  }

   .rodape__paragraph__hf {
    font-size: 12px;
    margin: 0 0% 0 3%;
  }

  .rodape__paragraph{
    font-size: 16px;
    margin: 0 5% 0 0%;
  }

  .rodape__formadepagamento img {
    max-height: 30px;
    margin: 0% 4% 0 -6%;
    padding: 0 0% 0 0%;
  }

  .rodape__redesociais{
    margin: 3% 15% 0 2%;

  }

}