.div_todo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #899AA1;
    gap: 5px;
}

.div__login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    color: #899AA1;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}